

  <div class="content">
    <h1>Today's Classes</h1>
    <div class="card-container">
      @if(bucketData.length){
        <div class="class-box" *ngFor="let class of bucketData">
          <h2>{{ class.courseId.courseName }}</h2>
          <p>Student: {{ class.userId.username }}</p>
          <p>Start Time: {{ class.preferredTime }}</p>
          <p>Duration: {{ class.classDuration }}</p>
        </div>
      }
      @else {
        <div>
          <h3>No classes assigned for Today!!!</h3>
        </div>
      }
    </div>
  </div>


  <!-- <div class="content">
    <h1>Upcoming Classes</h1>
    <div class="card-container">
      <div class="class-box" *ngFor="let class of upcomingClasses">
        <h2>{{ class.username }}</h2>
        <p>Course: {{ class.course.courseName }}</p>
        <p>Start Time: {{ class.preferredTime }}</p>
        <p>Duration: {{ class.classDuration }}</p>
      </div>
    </div>
  </div> -->

  
