<div class="course-form-container">    
    <h2>{{title}}</h2>
    
    <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-column">
          <mat-form-field>
            <mat-label>Student Name</mat-label>
            <mat-select formControlName="student">
              <mat-option *ngFor="let user of usersList" [value]="user._id">{{ user.username }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Plan Selected</mat-label>
            <mat-select formControlName="planSelected">
              <mat-option value="Basic">Basic</mat-option>
              <mat-option value="Academic">Academic</mat-option>
              <mat-option value="Academic-Pro">Academic Pro</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-column">
          <mat-form-field >
            <mat-label>Amount Paid</mat-label>
            <input matInput formControlName="amountPaid">
          </mat-form-field>
        </div>
      </div>
       <button mat-raised-button color="primary" type="submit">{{button}}</button>
    </form>
</div>
