<app-toast #toast></app-toast>
<div class="container-fluid login-container">
    <div class="background-image"></div>
    <div class="row w-100">
        <div class="col-lg-6 login-left d-none d-lg-flex">
            <img src="../../../assets/images/login.jpeg" alt="E-Learning" class="login-image">
        </div>
        <div class="col-lg-6 login-right">
            <app-test-credentials-popup *ngIf="showPopup" (closePopup)="handlePopupClose()"></app-test-credentials-popup>
            <div class="login-form">
                <div class="container-fluid">
                    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="student-tab" data-toggle="tab" href="#student" role="tab" aria-controls="student" aria-selected="true">Student</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="tutor-tab" data-toggle="tab" href="#tutor" role="tab" aria-controls="tutor" aria-selected="false">Tutor</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="coordinator-tab" data-toggle="tab" href="#coordinator" role="tab" aria-controls="coordinator" aria-selected="false">Coordinator</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="admin-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="admin" aria-selected="false">Admin</a>
                      </li>
                    </ul>
                  </div>
                  
                <div class="tab-content" id="myTabContent">
                    <!-- Student Login Form -->
                    <div class="tab-pane fade show active" id="student" role="tabpanel" aria-labelledby="student-tab">
                        <h2 class="text-center mt-3">Student Login <span>🎓</span></h2>
                        <p class="mb-4 text-center">Sign in to start learning.</p>
                        <form [formGroup]="studentLoginForm">
                            <!-- Form fields here -->
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input formControlName="email" type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
                                <span *ngIf="studentLoginForm.hasError('required', 'email') && studentLoginForm.controls['email'].dirty" class="text-red-500">*Email is required!</span>
                                <span *ngIf="studentLoginForm.hasError('email', 'email')" class="text-red-500">*Email is invalid</span>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                    <div class="input-group">
                                        <input 
                                            [type]="showPassword ? 'text' : 'password'" 
                                            formControlName="password" 
                                            autocomplete="off" 
                                            id="password" 
                                            name="password" 
                                            class="form-control" 
                                            placeholder="Enter Password">
                                        <div class="input-group-append">
                                            <span class="input-group-text" (click)="togglePasswordVisibility()" style="cursor: pointer;">
                                                <i [ngClass]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i> <!-- Eye icon -->
                                            </span>
                                        </div>
                                    </div>
                                    <span *ngIf="studentLoginForm.hasError('required', 'password') && studentLoginForm.controls['password'].dirty" class="text-red-500">*Password is required!</span>
                            </div>
                            <button [disabled]="studentLoginForm.invalid" (click)="onStudentLogin()" class="btn btn-dark btn-block">Sign in</button>
                            <div class="text-center my-3">Or</div>
                            <div class="social-login-buttons d-flex justify-center">
                                <asl-google-signin-button type="standard" size="medium"></asl-google-signin-button>
                              </div>
                              
                    <p class="text-center mt-3">You don't have an account? <a [routerLink]="['/register']" routerLinkActive="router-link-active" ><span class="signup">Sign up</span></a></p>
                        </form>
                    </div>
                    
                    <!-- Tutor Login Form -->
                    <div class="tab-pane fade" id="tutor" role="tabpanel" aria-labelledby="tutor-tab">
                        <h2 class="text-center mt-3">Tutor Login <span>📚</span></h2>
                        <p class="mb-4 text-center">Sign in to start teaching.</p>
                        <form [formGroup]="tutorLoginForm">
                            <!-- Form fields here -->
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input formControlName="email" type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
                                <span *ngIf="tutorLoginForm.hasError('required', 'email') && tutorLoginForm.controls['email'].dirty" class="text-red-500">*Email is required!</span>
                                <span *ngIf="tutorLoginForm.hasError('email', 'email')" class="text-red-500">*Email is invalid</span>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input 
                                        [type]="showPassword ? 'text' : 'password'" 
                                        formControlName="password" 
                                        autocomplete="off" 
                                        id="password" 
                                        name="password" 
                                        class="form-control" 
                                        placeholder="Enter Password">
                                    <div class="input-group-append">
                                        <span class="input-group-text" (click)="togglePasswordVisibility()" style="cursor: pointer;">
                                            <i [ngClass]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i> <!-- Eye icon -->
                                        </span>
                                    </div>
                                </div>
                                <span *ngIf="studentLoginForm.hasError('required', 'password') && studentLoginForm.controls['password'].dirty" class="text-red-500">*Password is required!</span>
                            </div>
                            <button [disabled]="tutorLoginForm.invalid" (click)="onTutorLogin()" class="btn btn-dark btn-block">Sign in</button>
                            <p class="text-center mt-3">You don't have an account? <a [routerLink]="['/register']" routerLinkActive="router-link-active" ><span class="signup">Sign up</span></a></p>
                        </form>
                    </div>

                    <!-- Coordinator Login Form -->
                    <div class="tab-pane fade" id="coordinator" role="tabpanel" aria-labelledby="coordinator-tab">
                        <h2 class=" text-center mt-3">Coordinator Login <span>👩‍🏫</span></h2>
                        <p class="mb-4 text-center">Sign in to manage courses.</p>
                        <form [formGroup]="coordinatorLoginForm">
                            <!-- Form fields here -->
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input formControlName="email" type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
                                <span *ngIf="coordinatorLoginForm.hasError('required', 'email') && coordinatorLoginForm.controls['email'].dirty" class="text-red-500">*Email is required!</span>
                                <span *ngIf="coordinatorLoginForm.hasError('email', 'email')" class="text-red-500">*Email is invalid</span>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input 
                                        [type]="showPassword ? 'text' : 'password'" 
                                        formControlName="password" 
                                        autocomplete="off" 
                                        id="password" 
                                        name="password" 
                                        class="form-control" 
                                        placeholder="Enter Password">
                                    <div class="input-group-append">
                                        <span class="input-group-text" (click)="togglePasswordVisibility()" style="cursor: pointer;">
                                            <i [ngClass]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i> <!-- Eye icon -->
                                        </span>
                                    </div>
                                </div>
                                <span *ngIf="studentLoginForm.hasError('required', 'password') && studentLoginForm.controls['password'].dirty" class="text-red-500">*Password is required!</span>
                            </div>
                            <button [disabled]="coordinatorLoginForm.invalid" (click)="onCoordinatorLogin()" class="btn btn-dark btn-block">Sign in</button>
                            <p class="text-center mt-3">You don't have an account? <a [routerLink]="['/register']" routerLinkActive="router-link-active" ><span class="signup">Sign up</span></a></p>
                        </form>
                    </div>

                    <!-- Admin Login Form -->
                    <div class="tab-pane fade" id="admin" role="tabpanel" aria-labelledby="admin-tab">
                        <h2 class=" text-center mt-3">Admin Login <span>🔑</span></h2>
                        <p class="text-center mb-4">Sign in to manage the platform.</p>
                        <form [formGroup]="adminLoginForm">
                            <!-- Form fields here -->
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input formControlName="email" type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
                                <span *ngIf="adminLoginForm.hasError('required', 'email') && adminLoginForm.controls['email'].dirty" class="text-red-500">*Email is required!</span>
                                <span *ngIf="adminLoginForm.hasError('email', 'email')" class="text-red-500">*Email is invalid</span>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input 
                                        [type]="showPassword ? 'text' : 'password'" 
                                        formControlName="password" 
                                        autocomplete="off" 
                                        id="password" 
                                        name="password" 
                                        class="form-control" 
                                        placeholder="Enter Password">
                                    <div class="input-group-append">
                                        <span class="input-group-text" (click)="togglePasswordVisibility()" style="cursor: pointer;">
                                            <i [ngClass]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i> <!-- Eye icon -->
                                        </span>
                                    </div>
                                </div>
                                <span *ngIf="studentLoginForm.hasError('required', 'password') && studentLoginForm.controls['password'].dirty" class="text-red-500">*Password is required!</span>
                            </div>
                            <button [disabled]="adminLoginForm.invalid" (click)="onAdminLogin()" class="btn btn-dark btn-block">Sign in</button>
                            <p class="text-center mt-3">You don't have an account? <a [routerLink]="['/register']" routerLinkActive="router-link-active" ><span class="signup">Sign up</span></a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
