<!-- src/app/components/user/user-course/add-to-bucket/add-to-bucket.component.html -->
<h2 mat-dialog-title style="padding: 10px;">Add to Bucket</h2>
<mat-dialog-content>
  <form [formGroup]="bucketForm">
    <mat-form-field>
        <mat-label>Select Days</mat-label>
        <mat-select formControlName="selectedDays" multiple>
          @for (day of dayList; track day) {
            <mat-option [value]="day">{{day}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Select Time</mat-label>
        <input matInput [ngxMatTimepicker]="picker" formControlName="preferredTime"/>
        <ngx-mat-timepicker #picker></ngx-mat-timepicker>
      </mat-form-field>
    <mat-form-field>
        <mat-label>Class duration</mat-label>
        <mat-select formControlName="classDuration">
          @for (duration of durations; track duration) {
            <mat-option [value]="duration">{{duration}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</mat-dialog-actions>