
<div class="content">
  <h1>Upcoming Classes</h1>
  <div class="card-container">
    @if (upcomingClasses.length) {
      <div class="class-box" *ngFor="let class of upcomingClasses">
        <h2>{{ class.userId.username }}</h2>
        <p>Tutor: {{ class.assignedTutor.username }}</p>
        <p>Time: {{ class.preferredTime }}</p>
        <p>Duration: {{ class.classDuration }}</p>
        <p>Course: {{ class.courseId.courseName}}</p>
      </div>
    }
    @else {
      <p>No upcoming classes!</p>
    }
  </div>
</div>


