<div class="video-container">
  <div class="video-wrapper">
    <video #localVideo class="video" autoplay playsinline></video>
    <p>Local Video</p>
  </div>
  <div class="video-wrapper">
    <video #remoteVideo class="video" autoplay playsinline></video>
    <p>Remote Video</p>
  </div>
</div>
<div class="button-container">
  <button (click)="startLocalStream()">Start Local Stream</button>
  <button (click)="endLocalStream()">End Local Stream</button>
  <button (click)="startCall()">Start Call</button>
  <button (click)="answerCall()">Answer Call</button>
  <button (click)="endCall()">End Call</button>
</div>