<div class="modal-overlay" *ngIf="isVisible">
    <div class="modal-content">
      <button class="close-btn" (click)="close()">X</button>
      <h2>Test Credentials</h2>
      <h3>Student, Tutor & Coordinator</h3>
      <p><strong>Email:</strong> {{testMail}}</p>
      <p><strong>Password:</strong> {{Password}}</p>
      <h3>For Admin</h3>
      <p><strong>Email:</strong> {{adminMail}}</p>
      <p><strong>Password:</strong> {{Password}}</p>
      <p class="desing">NB: Reload to see again!</p>
    </div>
  </div>